/* General Styles */
body {
    font-family: Arial, sans-serif;
    
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.game-container {
    width: 360px;
    height: 640px;
    background-image: url('https://i.imgur.com/RLEwakk.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.settings-menu {
    position: absolute;
    top: 10px;
    right: 10px;
}

.settings-button {
    background: #409449;
    border: none;
    color: #000000;
    font-size: 1.5rem;
    cursor: pointer;
}

.settings-button:hover {
    opacity: 0.8;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #81f387;
}

.settings-menu:hover .dropdown-content {
    display: block;
}

/* Main Section */
main {
    flex-grow: 1;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.display-section {
    

   
    border-radius: 10px;
    
}

#input-display {
    font-size: 2rem;
    letter-spacing: 10px;
    color: #521502;
}

#game-status {
    color: #666;
    margin-top: 10px;
}

/* Buttons Section */
.buttons-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: 9px;

}

.number-buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 9px;
}

.number-button, .action-button {
    padding: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: #5085b9;
    color: white;
    transition: 0.3s;
}

.number-button:hover, .action-button:hover {
    background: #08529c;
}

.action-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    gap: 15px;
}
